region            = "eu-west-1"
instance_type_web = "t3.micro"
instance_type_db  = "t3.small"
key_pair_name     = "techcorp-key"
my_ip             = "Your_IP/32"
web_password = "web_password"
db_password  = "db_password"